{
  # "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": false,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "no-case-declarations": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {vars: local}],
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "brace-style": [2, "1tbs"],
    "comma-style": [2, "last"],
    "func-style": [2, "declaration"],
    "no-inline-comments": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": [2, true],
    "no-multiple-empty-lines": [1, {"max": 2}],
    "camelcase": 2,
    "eol-last": 2,
    "curly": [2, "multi-line"],
    "comma-spacing": 2,
    "key-spacing": 2,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "space-in-parens": [2, "never"],
    "object-curly-spacing": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "no-shadow": 2,
    "dot-notation": [2, {"allowPattern": "^[a-zA-Z0-9]+(_[a-zA-Z0-9]+)+$"}],
    # "qoute-props": [2, true],
    "eqeqeq": [2, "smart"],
    "complexity": [1, 10],
    "max-depth": [1, 4],
    "max-len": [1, 200],
    "max-params": [1, 6],
    "max-nested-callbacks": [1, 8],
    "max-statements": [1, 200],
    "default-case": 2,
    "guard-for-in": 2,
    "no-floating-decimal": 2,
    "no-else-return": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-sync": 2,
    "no-nested-ternary": 1,
    "operator-assignment": [2, "always"],
    "semi": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "quotes": [2, "double", "avoid-escape"],
    "spaced-comment": [2, "always", {"exceptions": ["-","+"]}],
    "no-plusplus": 2,
    "no-bitwise": 2,
    "no-use-before-define": 0,
    "no-console": 0
  }
}
