/node_modules
npm-debug.log
./app
./check-changes
./check-update
./create-component
./install-component
./install-component-deps
./lib
./migrate
./app/*
./check-changes/*
./check-update/*
./create-component/*
./install-component/*
./install-component-deps/*
./lib/*
./migrate/*
